.products-page {
  display: contents;
  .notifications {
    position: fixed;
    top: 2rem;
    right: 2rem;
    .notification {
      &:has(+ .notification) {
        margin-bottom: 1rem;
      }
      list-style: none;
      padding: 0.2rem 1rem;
      border: 1px solid black;
      border-radius: 1rem;
      background-color: white;
    }
  }
  .browse {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;
    overflow: hidden;
    .product {
      background-color: rgb(246, 246, 246);
      transition: background-color 0.3s ease;
      /* &:hover {
        background-color: hsl(from var(--base-color) h calc(s + 40%) l);
      } */
      padding: 1rem;
      border-radius: 1.5rem;
      width: fit-content;
      min-height: fit-content;
      height: fit-content;
      img {
        border-radius: 1.5rem;
        width: 18rem;
        background-color: '#f0f0f0';
        display: 'block';
      }
      data {
        margin-inline-end: 1ch;
      }
      .addToCart,
      .removeFromCart {
        margin-inline: 0.2rem;
        border-radius: 0.5rem;
        width: 2rem;
      }
      h3 {
        margin-block: 0.4rem 0.1rem;
      }
      p {
        margin-block-start: 0rem;
        margin-block-end: 0.2rem;
      }
    }

    .catalog {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      overflow-y: scroll;
      gap: 1rem;
      padding-right: 1rem;
    }

    .cart {
      display: flex;
      flex-direction: column;
      min-width: 18rem;
      h4 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 1rem;
      }
      .items {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 1rem;
      }
      .product {
        font-size: 0.8rem;
        align-self: center;
        max-width: 12rem;
        img {
          width: 10rem;
        }
        overflow: hidden;
        & > * {
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }
      }
      .checkout-container {
        width: 100%;
        margin-top: auto;
        text-align: center;
        .checkout {
          margin: 1rem;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          /* margin-inline: auto; */
          align-self: center;
        }
      }
    }
  }
}
